/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-paginacion-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
.paginacion {
	padding: 0px;
	margin: 0px;
	/*text-align:right;*/
	font-size:10px;
}

.paginacion a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	/*border: 1px solid #EEE;*/
	text-decoration: none; /* no underline */
	color:#960;
	/*color: #036CB4;*/
	
}

.paginacion a:hover,
.paginacion a:active {
	border: 1px solid #666;
	color: #666;
}
.paginacion .current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #960;
	font-weight: bold;
	background-color: #960;
	color: #FFF;
}
.paginacion .disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	/*border: 1px solid #EEE;*/
	color: #DDD;
}