@charset "utf-8";
/* CSS Document */


span.navthis {
	padding: 4px 4px;
	/*color: #000;*/
	font-weight: bold;
}

a.nav{
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	text-decoration: none; /* no underline */
	color: #036CB4;
}
a.nav:hover,
a.nav:active {
	border: 1px solid #999;
	color: #666;
	text-decoration: none; /* no underline */
} 